name: Hash Files on Push

on:
  push:
    paths:
      - '**.py'
      - '**.txt'

jobs:
  hash:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Run hash script
      run: |
        python hasher.py <<< "./"
